$link: #6d8ac4;
$grey: #ebebeb;
$greyDark: #333333;

@mixin shadow($shadow: 0px 1px 1px rgba(0,0,0,0.15)) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

html {
  font-size: 62.5%;  
}
body {
  font-family: Gotham;
  color: #777;
  margin: 0; padding: 0;
}
#header {
  background: $grey url(header-border.png) bottom no-repeat;
  background-size: 100% 5px;
  display: block;
  @include shadow;
  
  .logo {
    background: url(design-group-logo.svg) no-repeat;
    background-size: 186px 28px;
    display: inline-block;
    height: 28px; width: 186px;
    margin: 27px 0;
    text-indent: -9999px;
  }
  #description {
    color: #aaa;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  .npr {
    background: url(npr-logo.svg) no-repeat;
    margin: 27px 0;
    text-indent: -9999px;
    float: right;
    width: 65px;
  }
}

#content {
  margin: 0 auto;
  max-width: 700px;
}

// Template things we can hide
.hide {
  display: none;
}

.post {
  margin: 6em 0;
}
.post-metadata {
  font-weight: bold;
  text-transform: lowercase;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, .h3 {
  color: #333;
  margin: 5px 0;
  a, a p { color: #333;
    &:hover { color: $link; }
  }
}

h3 {
  font-size: 3.2rem;
}

p, li, blockquote {
  font-size: 1.5rem;
}

a { 
  color: $link;
  text-decoration: none;
  &:hover { color: lighten($link, 15%); }   
}

// Photo

.photo {
  img {
    background: $grey;
    max-width: 700px;
    width: 100%;
  }
  .caption {
    background: $greyDark;
    color: #fff;
    display: block;
    font-size: 1.5rem;
    min-width: 300px;
    p {
      margin: 0;
      padding: 1.5em;
    }
  }
}

// Video
.tumblr_video_container {
  margin-bottom: 1.5em;
}
.video {
  .caption p {
    font-size: 3.2rem;
    font-weight: bold;
    margin: 0;
  }
}

// Touch includes small and medium breakpoints
@media only screen and (max-width: 768px) {

}